<p id="notice"><%= notice %></p>
<h2 class="text-center"> <%= @sign.username%>'s profile</h2>
<center><%= gravatar_for @sign%></center>
<br></br>
<div class="text-center mt-4">
  <%= link_to "Edit your profile", edit_sign_path(@sign),class:"btn btn-outline-info" %>
  </div>
<p>
  <strong>Username:</strong>
  <%= @sign.username %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @sign.mail %>
</p>

<%= link_to 'Edit', edit_sign_path(@sign) %> |
<%= link_to 'Back', signs_path %>
