
<h2 class="text-center mt-4"> <u>Category </u></h2>
<br></br>
<p class="text-center">
  <strong>Name:</strong>
<%= @category.name %>
</p>

<br></br>
<div class="text-center mt-4">
  <%= link_to "Edit your profile", edit_category_path(@category),class:"btn btn-outline-info" %>
  </div>
<p>
  <strong>name:</strong>
  <%= @category.name %>
</p>



<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
